################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProjetIft232/bin/Debug
/ProjetIft232/obj/Debug
